*{
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;

}


#hello{
    font-size: 4rem;
}
body{
             overflow-x: hidden;
}

.nav_bar{
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    font-size: 3.9rem;
}

.nav_bar img{
    width: 150px;
}


#input_email{
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px;
    gap: 0.8rem;
}

#input_email > input{
  text-align: left;
  border-radius: 0.5rem;
  padding: 1.5rem;
  border-style: none;

}

.nav_bar ul li{
    padding: 0.71rem;
    font-size: 1.5rem;
    list-style-type: none;

}

.nav_bar ul li:hover{
    border: 1px black solid;
    box-shadow: 5px 5px 0px black;
}

.hero_section{
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 3.9rem;
    font-weight: 90;
    padding: 4.8rem;
    gap: 1.1rem;
    background-color: #BFDFFF; 
    color: #000000;
    
}

.sections{
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #021736;
    color: #ffffff;
    padding: 4.5rem 0rem 4.5rem 0rem;
}

.sections h1{
    font-weight: 500;
    font-size: 2.5rem;
}
.btn{
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color:  #4087F3;
    color: white;
    font-size: 1rem;
    border-style: none;
    font-weight: 800;
    box-shadow: 5px 5px 0px black;
}
.btn:hover{
       background-color: #306bc5 ;
      box-shadow: 10px 10px 0px black;
}


.btn_medium{
    padding: 1rem;
    border-radius: 1.4rem;
    background-color:  #F35B04;
    color: white;
    font-size: 0.8rem;
    border-style: none;
    font-weight: 800;
    box-shadow: 5px 5px 0px black;
    width: 10%;
     position: fixed;
     left: 85%;
     top: 80%
  
}

p{
    font-size: 1.5rem;
}

h1{
    font-size: 1.5rem;
}




#store_setup_card{
   background-color: #BFDFFF;
   max-height: 70%;
   width: 50%;
   padding: 3rem;
   display: flex;
   border-radius: 2rem;
   margin-top: 2.9rem;
   margin-right: 3.5rem;
      margin-left: 3.5rem;
   flex-direction: column;
   gap: 1.5rem;
   border: 1px black solid;
   
      box-shadow: 10px 10px 0px black
    
}

#store_setup_card svg{
    width: 2rem;
    color: white;
}

#store_setup_page{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #f7ffff;
    justify-content: space-between;
    height: 100%;



}

#animation_card{
    width:50%;
    background-color:  #021736;
    color: white;
}

#store_setup_card > button{

}


#store_setup_card input{
    padding: 0.7rem;
    border-radius: 0.4rem;
    border-style: none;

}



#app_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0px;
    background-color: #4087F3;

  
    /* background-image: url('./assets/illustration1.jpg');
    background-size: cover;     
   background-repeat: no-repeat; 
  background-position: center; */
 

 


}


.product_categories {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
    padding: 0.5rem;
 
}

.category {
    background-color: transparent;
    font-size: 1.2rem;
    border: black 1px solid;
    padding: 0.5rem 1rem;
    border-radius: 1.4rem;
    margin-bottom: 0.3rem;
    display: inline-block;
    /* cursor: pointer;
    transition: all 0.3s ease; */
}

.category:hover {
    background-color: black;
    color: white;
}

.selected{

    background-color: black;
    color: white;
    font-size: 1.2rem;
    border: black 1px solid;
    padding: 0.5rem 1rem;
    border-radius: 1.4rem;
    margin-bottom: 0.3rem;
    display: inline-block;


}

.progress_bar{
    width: 100%;
    background-color: #ffffff;
    height: 1rem;
    border-radius: 2rem;
}
.progress_bar div{
    background-color: black;
    height: 1rem;
    border-radius: 2rem;
}

#cancel_store_creation{
    width: 2rem;
    border-radius: 1rem;
    border-style: none;
    background-color: black;
    display: flex;
    justify-content: center ;
    align-items: center;


}

#cancel_store_creation:hover{
      box-shadow: 3px 3px 0px black;
      color: white


}

#cancel_add_product{
    width: 2rem;
    border-radius: 1rem;
    border-style: none;
    background-color: black;
    display: flex;
    justify-content: center ;
    align-items: center;
    color: white;


}

.go_back_button{
    width: 2rem;
    border-radius: 1rem;
    border-style: none;
    background-color: black;
    display: flex;
    justify-content: center ;
    align-items: center;
    color: white;
}


.go_back_button:hover{

     box-shadow: 3px 3px 0px black;
      color:white

}
#cancel_add_product:hover{
      box-shadow: 3px 3px 0px black;
      color:white


}
.empty_state{
    align-self: center;
    margin-top: 3rem;
}
.kiosk{
    width:100%;
    height: 100vh;
    flex-direction: column;
    background-color:#ffffff;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;



}

.kiosk_dark_mode{
    width:100%;
    height: 100vh;
    flex-direction: column;
    background-color:#ffffff;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;


}


.kiosk_head{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    padding: 1rem;
    border: 1px black solid;
    height: 3.3rem;
    background-color: white;
}

.kiosk_head_dark_mode{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    padding: 1rem;
    border: 1px black solid;
    height: 3.3rem;
       background-color:  #021736;
       color: white;

}
.kiosk_id{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.kiosk_options{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


 


}
.kiosk_tab{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    gap: 0.2rem;
    padding:0.5rem

 
   
}

#toggle_theme{
    width: 2rem;
    transition: 0.5s;
}

#toggle_theme:hover{
    width: 1rem;

}

#toggle_theme_container{
    background-color: transparent;
    border-style: none;
}

.kiosk_id{
    display: flex;
    gap:1rem
}


.kiosk_image{
 width: 2rem;
 height:2rem;
 border-radius: 50%;
 background-color: red;

}

.kiosk_head svg{
    width: 1.3rem;
}


.kiosk_description_card{
    background-color: black;
    color:white;
    display: flex;
    flex-direction: column;
    padding:1.5rem;

}

#add_a_product_button{
    background-color: #025f59;

}

#add_a_product_card{

       border: 1px black solid;
       width: 30%;
       background-color: white;
       opacity: 0.95;
       display: flex;
       padding: 2rem;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       position: fixed;
       left: 65%;
       top: 35%
   
}

#add_a_product_card div{
    display: flex;
    flex-direction: column;
    gap:0.3rem;
    margin-top: 0.5rem;


   
}

#add_a_product_card button svg{
color: white;
      

   
}


#add_a_product_card div input{
    padding: 0.4rem;
   
}

.products_list{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 2rem ;
    gap: 0.5rem;
    

}

.product_card{
    background-color: #f9fcff;
    padding: 1rem;
    width: 18rem;
    min-height: 23rem;
    margin-bottom: 0.9rem;
    border: 1px solid black;



}

.product_card:hover{

    background-color: white;
   border: 1px solid black;
      box-shadow: 10px 10px 0px black
}

#product_image{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 60%;
    margin-bottom: 0.8rem;
}
#remark{
    display: none;
    font-size: 1rem;
    padding: 0.4rem;
    margin-bottom: 0.5rem;
    background-color: rgb(255, 157, 157);
}

#product_edit_options{
    display: flex;
    flex-direction: row;
    margin-bottom: 0.8rem;
}

#product_edit_options svg{
    width: 1.4rem;
}

#category_card{
     background-color: #dedcff;
     border: 1px solid #004b69; ;
     border-radius: 1.5rem;
     font-size: 1.1rem;
     margin-left: 1rem;

}


#share_link{
    background-color: #ff6600;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: white;
}


#settings_page{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 100%;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;

}

#side_options{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 0.5rem;

   
}

#side_options button{
   padding: 1rem;
   background-color: transparent;
   border-radius: 0.5rem;
   border-style: none;
   width: 100%;
   border: 1px black solid
   
}


#side_options button:hover{
  background-color: black;
  color: white;
}



#page_content{
    width:80%;
    background-color: rgb(240, 240, 240);
    border-radius: 1rem;

}

.kiosk_contacts{
    background-color: #353535;
    border: 1px solid #a5a5a5;
    padding: 0.5rem;
    color: #d6d6d6;
    border-radius: 1rem;
    font-size: 1rem;
}

.kiosk_info_card{
    display: flex; 
    flex-direction: row;
    gap:1rem
}







@media (max-width:375px) {


.nav_bar{
    padding: 0.5rem;
    font-size: 0.1rem;


}
.nav_bar img{
    width: 100px;
}

.nav_bar ul li{
    font-size: 1rem;
}
#hello{
    font-size: 2.4rem;
}

#animation_card{
    display: none;
}

.hero_section{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    gap: 1.1rem;
    background-color: #b8fdff;    
}

#input_email{

    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px;
    gap: 0.8rem;

}
#input_email > input{
    text-align: left;
  border-radius: 0.5rem;
  padding: 0.1rem;
  border-style: none;

}



.btn{
    padding: 0.9rem;
    border-radius: 1.4rem;
    font-size: 1rem;
    font-size: 0.9rem;
 
 
}





.sections{

    padding: 1.9rem;
    gap:1rem


}

     .sections h1{
    font-weight: 500;
    font-size: 2rem;
}

p{
    font-size: 1rem;
}


#store_setup_card{
   width: 100%;
   border-radius: 2rem;
   margin-top: 2rem;
   flex-direction: column;
   align-self: center;
   gap: 1rem;
   padding: 2rem;
   height: 100%;
 
}

#store_setup_page{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f7ffff;
    justify-content: space-between;
    padding: 1rem;
    height: 100%;

}

#store_setup_card h1{
   font-size: 1.5rem;
    
}
 
.kiosk_options{
    display: none;
  


}


.btn_medium{
      
    width: 30%;
    left: 64%;
    top: 80%;
    padding: 1rem;
    border-radius: 0.4rem;
    font-size: 0.7rem;
    font-weight: 500;
  
}

#add_a_product_card{
       
       border: 1px black solid;
       background-color: white;
       width: 88%;
       font-size: 0.9rem;
       display: flex;
       padding: 2rem;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       position: fixed;
       left: 7%;
       top: 25%;
      
   
}

#add_a_product_card input{
        font-size: 0.6rem;
    
   
}

.btn{
    padding: 1rem;
    border-radius: 0.4rem;
    font-size: 1rem;
    font-weight: 500;
    box-shadow: 3px 3px 0px black;
    transition: 1.5s;
}

.btn:hover{
       background-color:  #dd5404;
      box-shadow: 5px 5px 0px black;
}

.kiosk_head{

    justify-content: space-around;
    padding: 0.4rem;
    border: 1px black solid;
    height: 3.3rem;
 
}

.kiosk_id h1{
    font-size: 1rem;
}


#category_card{
       font-size: 0.8rem;

}

.kiosk_image{
 width: 1rem;
 height:1rem;
 border-radius: 50%;
 background-color: red;

}

.kiosk_description_card{
    width: 100%;

}

.kiosk_info_card{
    display: flex;
    flex-direction: column;
    gap: 5px;
   
}

.kiosk_contacts{
    font-size: 0.8rem;
   
}

.kiosk_info{
    font-size: 0.8rem;
}









}

